// @use "../../assets/styles/mixins" as mixin;

.signup {
  width: 100%;
  height: 120vh;
  z-index: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -100px;
}

.image {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Set z-index to bring the image to the front */
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.act {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondry);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 12%;
  color: var(--yellow);
  font-size: 1.5rem;
  font-family: var(--font-family-3);
  margin-bottom: 20px;
  top: 0;
}

.content {
 
  width: 60%;
  height: 70%;
  background-color: var(--green);
  border-radius: 30px;
  padding: 30px 10px;
  display: flex;
}

.form {
  width: 100%;
}

.input_1 {
  width: 95%;
}

.input_2 {
  width: 80%;
}

.input_3 {
  box-shadow: none;
  height: 30px;
}

.gender {
  width: 100%;
}

p {
  font-family: var(--font-family-1);
  color: var(--white);
  font-size: 1rem;
}

.linkIns {
  cursor: pointer;
  text-decoration: underline;
}