@use "../../assets/styles/mixins" as mixin;

.signup {
  width: 100%;
  height: 120vh;
  z-index: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -100px;
  @include mixin.xs {
    flex-direction: column;
  }
  .image {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Set z-index to bring the image to the front */
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mixin.xs {
      width: 100%;
      height: 30%;
      position: relative;
    }
  }

  .act {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--secondry);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mixin.xs {
      position: relative;
      width: 100%;
      height:75%;
    }
  }

  .title {
    margin-top: 12%;
    color: var(--yellow);
    font-size: 1.5rem;
    font-family: var(--font-family-3);
    margin-bottom: 20px;
    top: 0;
    @include mixin.xs {
      margin-bottom: 20px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .content {
    width: 60%;
    height: 100%;
    background-color: var(--green);
    border-radius: 30px;
    padding: 0;
    display: flex;
    @include mixin.xs {
      width: 90%;
    }
  }

  .form {
    width: 100%;
  }

  .input_1 {
    width: 95%;
  }

  .input_2 {
    width: 80%;
  }

  .input_3 {
    box-shadow: none;
    height: 30px;
  }

  .gender {
    width: 100%;
  }

  .linkIns {
    cursor: pointer;
    text-decoration: underline;
    @include mixin.xs {
      font-size: 1.2rem;
    }
  }
}

p {
  font-family: var(--font-family-1);
  color: var(--white);
  font-size: 1.2rem;
  @include mixin.xs {
    font-size: 1rem;
  }
}
