.header {
  padding: 10px 20px;
  
  z-index: 999;
  top: 0;
  left: 0;
 width: 100%;
  .logo {
    font-family: var(--font-family-2);
    color: var(--yellow);
    font-size: 40px;
  }

  a {
    font-size: 20px;
    font-family: var(--font-family-1);
    color: var(--white);
    &:hover {
      opacity: 0.8;
    }
  }
}
