:root {
  --primary: #216249ff;
  --secondry: #20835d;
  --yellow: #daca3bff;
  --green: #1d5a43;
  --black: #000000;
  --gray: #d9d9d9;
  --white: #ffffff;
  --font-family-1: "Inter", sans-serif;
  --font-family-2: 'Chicle', cursive;
  --font-family-3: 'Gravitas One', cursive;
}
